mixin cartCell( img, amount )
    .cartCell.relation
        if (amount)
                .cartCell__amount-total #{amount}
                .relation__ratio.relation__ratio-1x1
                .relation__content-mainCell
                    img( src="img/goods/#{img}.jpg" )
            else
                .relation__ratio.relation__ratio-1x1
                .relation__content-mainCell
                    img( src="img/goods/#{img}.jpg" )
