mixin cell( count, img, active )
    .cell.relation
        .cell__rating
            .lnr.lnr-heart.icon-like( class=' #{active} ' )
            .cell__likeCount #{count}
        .relation__ratio.relation__ratio-11x12
        .relation__content
            img( src="img/#{img}" )

