mixin nav-item( img, name )
    .nav__item
        .relation
            .relation__ratio.relation__ratio-1x1
            .relation__content-navCell
                img( src='img/#{img}', alt="Ooops..." )
        span #{name}

