/* ========= GLOBAL ========= */
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body,
html {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #303030;
  background-color: $color-background-body;
}
.container {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.container-small {
  width: 85%;
  height: auto;
  margin: 100px auto;
}
.wrapper {
  width: 1260px; /* Должно умещаться ровно 5 блоков + 10px про запас*/
  margin: 0 auto;
  transition: .2s;
}






a {
  color: inherit;
}
.icon-15 {
  width: 15px;
  height: 15px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}
.icon {
  width: 30px;
  height: 30px;
}
.icon-40 {
  width: 40px;
  height: 40px;
}
.icon-50 {
  width: 50px;
  height: 50px;
}
.icon-free {
  width: auto;
  height: auto;
}



/* ========= GLOBAL GENERAL ========= */

.invisible {
  position: absolute;
  top: -9999px;
}
.relative { position: relative }


/* Proportion */
.relation {
  position: relative;
  &-min-50 { min-width: 50px; }
  &-min-70 { min-width: 70px; }
  &-min-90 { min-width: 90px; }
  &-min-110 { width: 110px; }
  &-min-120 { width: 120px; }
  &-min-150 { width: 150px; }
  &-min-160 { width: 160px; }
  &-min-170 { width: 170px; }
  &-min-180 { width: 180px; }
  &-min-190 { width: 190px; }
  &-min-200 { width: 200px; }
  &-min-250 { width: 250px; }
  &-min-270 { width: 270px; }
  &-min-500 { width: 500px; }
}

.relation__ratio {
  height: 0;
  &-1x1 { padding-top: 100%}
  &-2x1 { padding-top: 50%} /* Разделить на первое, умножить на второе*/
  &-4x3 { padding-top: 75%;} /* Если первое больше второго, то будет горизонтальный прямоугольник */
  &-3x4 { padding-top: 133.33%;}
  &-6x5 { padding-top: 83.33%;}
  &-8x7 { padding-top: 87.5%;}
  &-7x8 { padding-top: 114%;}
  &-8x9 { padding-top: 112.5%;}
  &-9x10 { padding-top: 111.11%;}
  &-10x11 { padding-top: 110%;}
  &-11x12 { padding-top: 109.09%;}
  &-16x9 { padding-top: 56.25%;}
}
.relation__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/*    Width    */

.max-width-10 { max-width: 10%; }
.max-width-20 { max-width: 20%; }
.max-width-30 { max-width: 30%; }
.max-width-40 { max-width: 40%; }
.max-width-50 { max-width: 50%; }
.max-width-60 { max-width: 60%; }
.max-width-70 { max-width: 70%; }
.max-width-80 { max-width: 80%; }
.max-width-90 { max-width: 90%; }


.width-2 { width: 2%; }
.width-5 { width: 5%; }
.width-10 { width: 10%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-35 { width: 35%; }
.width-40 { width: 40%; }
.width-45 { width: 45%; }
.width-50 { width: 50%; }
.width-55 { width: 55%; }
.width-60 { width: 60%; }
.width-65 { width: 65%; }
.width-70 { width: 70%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-85 { width: 85%; }
.width-90 { width: 90%; }
.width-95 { width: 95%; }



/* Margin */

.margin-center { margin: 0 auto }

.margin-1  { margin: 1px }
.margin-2  { margin: 2px }
.margin-3  { margin: 3px }
.margin-5  { margin: 5px }
.margin-6  { margin: 6px }
.margin-7  { margin: 7px }
.margin-10 { margin: 10px }
.margin-15 { margin: 15px }
.margin-20 { margin: 20px }
.margin-30 { margin: 30px }
.margin-40 { margin: 40px }
.margin-50 { margin: 50px }


.margin-left-1  { margin-left: 1px }
.margin-left-2  { margin-left: 2px }
.margin-left-3  { margin-left: 3px }
.margin-left-5  { margin-left: 5px }
.margin-left-10 { margin-left: 10px }
.margin-left-15 { margin-left: 15px }
.margin-left-20 { margin-left: 20px }
.margin-left-30 { margin-left: 30px }
.margin-left-40 { margin-left: 40px }
.margin-left-50 { margin-left: 50px }
.margin-left-60 { margin-left: 60px }
.margin-left-70 { margin-left: 70px }
.margin-left-80 { margin-left: 80px }
.margin-left-90 { margin-left: 90px }
.margin-left-100 { margin-left: 100px }

.margin-right-1  { margin-right: 1px }
.margin-right-2  { margin-right: 2px }
.margin-right-3  { margin-right: 3px }
.margin-right-5  { margin-right: 5px }
.margin-right-10 { margin-right: 10px }
.margin-right-15 { margin-right: 15px }
.margin-right-20 { margin-right: 20px }
.margin-right-30 { margin-right: 30px }
.margin-right-40 { margin-right: 40px }
.margin-right-50 { margin-right: 50px }
.margin-right-60 { margin-right: 60px }
.margin-right-70 { margin-right: 70px }

.margin-top-5  { margin-top: 5px }
.margin-top-10 { margin-top: 10px }
.margin-top-15 { margin-top: 15px }
.margin-top-20 { margin-top: 20px }
.margin-top-30 { margin-top: 30px }

.margin-bottom-5  { margin-bottom: 5px }
.margin-bottom-10 { margin-bottom: 10px }
.margin-bottom-15 { margin-bottom: 15px }
.margin-bottom-20 { margin-bottom: 20px }
.margin-bottom-30 { margin-bottom: 30px }
.margin-bottom-40 { margin-bottom: 40px }
.margin-bottom-50 { margin-bottom: 50px }
.margin-bottom-60 { margin-bottom: 60px }
.margin-bottom-70 { margin-bottom: 70px }
.margin-bottom-80 { margin-bottom: 80px }
.margin-bottom-90 { margin-bottom: 90px }
.margin-bottom-100 { margin-bottom: 100px }
.margin-bottom-110 { margin-bottom: 110px }

/* Padding */

.padding-1  { padding: 1px }
.padding-3  { padding: 3px }
.padding-5  { padding: 5px }
.padding-10 { padding: 10px }
.padding-15 { padding: 15px }
.padding-20 { padding: 20px }
.padding-30 { padding: 30px }

.padding-left-5  { padding-left: 5px }
.padding-left-10 { padding-left: 10px }
.padding-left-15 { padding-left: 15px }
.padding-left-20 { padding-left: 20px }
.padding-left-30 { padding-left: 30px }

.padding-right-5  { padding-right: 5px }
.padding-right-10 { padding-right: 10px }
.padding-right-15 { padding-right: 15px }
.padding-right-20 { padding-right: 20px }
.padding-right-30 { padding-right: 30px }

.padding-top-5  { padding-top: 5px }
.padding-top-10 { padding-top: 10px }
.padding-top-15 { padding-top: 15px }
.padding-top-20 { padding-top: 20px }
.padding-top-30 { padding-top: 30px }

.padding-bottom-5  { padding-bottom: 5px }
.padding-bottom-10 { padding-bottom: 10px }
.padding-bottom-15 { padding-bottom: 15px }
.padding-bottom-20 { padding-bottom: 20px }
.padding-bottom-30 { padding-bottom: 30px }

/* Flex */

.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

.justify-center {
  @extend .flex;
  justify-content: center;
}
.justify-between {
  @extend .flex;
  justify-content: space-between;
}
.justify-around {
  @extend .flex;
  justify-content: space-around;
}
.justify-end {
  @extend .flex;
  justify-content: flex-end;
}
.justify-start {
  @extend .flex;
  justify-content: flex-start;
}

.items-center {
  @extend .flex;
  align-items: center;
}
.items-baseline {
  @extend .flex;
  align-items: baseline;
}
.items-end {
  @extend .flex;
  align-items: flex-end;
}
.items-start {
  @extend .flex;
  align-items: flex-start;
}
.items-stretch {
  @extend .flex;
  align-items: stretch;
}


/* TEXT */

.txt-center { text-align: center }


.font-4 { font-size: 4rem; }
.font-3-9 { font-size: 3.9rem; }
.font-3-8 { font-size: 3.8rem; }
.font-3-7 { font-size: 3.7rem; }
.font-3-6 { font-size: 3.6rem; }
.font-3-5 { font-size: 3.5rem; }
.font-3-4 { font-size: 3.4rem; }
.font-3-3 { font-size: 3.3rem; }
.font-3-2 { font-size: 3.2rem; }
.font-3-1 { font-size: 3.1rem; }
.font-3 { font-size: 3rem; }
.font-2-9 { font-size: 2.9rem; }
.font-2-8 { font-size: 2.8rem; }
.font-2-7 { font-size: 2.7rem; }
.font-2-6 { font-size: 2.6rem; }
.font-2-5 { font-size: 2.5rem; }
.font-2-4 { font-size: 2.4rem; }
.font-2-3 { font-size: 2.3rem; }
.font-2-2 { font-size: 2.2rem; }
.font-2-1 { font-size: 2.1rem; }
.font-2 { font-size: 2rem; }
.font-1-9 { font-size: 1.9rem; }
.font-1-8 { font-size: 1.8rem; }
.font-1-7 { font-size: 1.7rem; }
.font-1-6 { font-size: 1.6rem; }
.font-1-5 { font-size: 1.5rem; }
.font-1-4 { font-size: 1.4rem; }
.font-1-3 { font-size: 1.3rem; }
.font-1-2 { font-size: 1.2rem; }
.font-1-1 { font-size: 1.1rem; }
.font-1 { font-size: 1rem; }
.font-0-9 { font-size: 0.9rem; }
.font-0-8 { font-size: 0.8rem; }
.font-0-7 { font-size: 0.7rem; }
.font-0-6 { font-size: 0.6rem; }
.font-0-5 { font-size: 0.5rem; }
.font-0-4 { font-size: 0.4rem; }
.font-0-3 { font-size: 0.3rem; }
.font-0-2 { font-size: 0.2rem; }
.font-0-1 { font-size: 0.1rem; }


/* Border */

.border-1 { border: 1px solid $border-color-RGB; }
.border-2 { border: 2px solid $border-color-RGB; }
.border-3 { border: 3px solid $border-color-RGB; }
.border-4 { border: 4px solid $border-color-RGB; }
.border-5 { border: 5px solid $border-color-RGB; }

.border-top1 { border-top: 1px solid $border-color-RGB; }
.border-top2 { border-top: 2px solid $border-color-RGB; }
.border-top3 { border-top: 3px solid $border-color-RGB; }
.border-top4 { border-top: 4px solid $border-color-RGB; }
.border-top5 { border-top: 5px solid $border-color-RGB; }


.radius-1 { border-radius: 1px; }
.radius-2 { border-radius: 2px; }
.radius-3 { border-radius: 3px; }
.radius-4 { border-radius: 4px; }
.radius-5 { border-radius: 5px; }


/* Animation */

i[class^="s7-angle"] {
  transition: .2s;
}
i[class^="s7-angle"]:hover {
  transition: .2s;
}
.s7-angle-left:hover { transform: translateX(-10px) }
.s7-angle-right:hover { transform: translateX(10px) }

.onHover-left-5:hover { transform: translateX(-5px) }
.onHover-right-5:hover { transform: translateX(5px) }

.onHover-left-1:hover { transform: translateX(-1px) }
.onHover-right-1:hover { transform: translateX(1px) }

.color-green { color: $green-color }
.color-red { color: $red-color }
.color-blue { color: $blue-color }