$break-max: 1285px;
$break-lg: 1020px;
$break-md: 810px;
$break-sm: 770px;
$break-xs: 680px;
$break-extra-xs: 580px;
$break-tiny: 505px;
$break-extra-tiny: 450px;


$sm-cell-width: 200px;
$sm-break-lg: $sm-cell-width * 5; /* 1000 */
$sm-break-md: $sm-cell-width * 4; /* 800 */
$sm-break-sm: $sm-cell-width * 3; /* 600 */
$sm-break-xs: $sm-cell-width * 2; /* 400 */


/* sticky navigation styles */

.headhesive {
  position: absolute;
  top: -999px;
  opacity: 0;
  transition: .7s ease-in-out; }

.headhesive--stick {
  position: fixed;
  top: 0;
  width: 100% !important;
  opacity: 1;
  background-color: rgba( 255, 255, 255, .8 );
  transition: .7s ease-in-out;
  z-index: 100; }

.headhesive--unstick {
  position: fixed;
  transform: translateY(-100%);
  width: 100%;
  opacity: 0;
  transition: .1s ease-in-out; }

@mixin media ( $p ) {
  @media screen and (max-width: $p) {
    @content
  }
}

html {
  @include media( $p: $break-sm ) {
    font-size: 13px;
  }
  @include media( $p: $break-extra-xs ) {
    font-size: 12px;
  }
  @include media( $p: $break-tiny ) {
    font-size: 11px;
  }
}



body, html, .container, .navigation__slider, .container {
  @include media( $p: 321px ) {
    max-width: 320px;
  }
}
@media ( max-width: $break-extra-tiny ) {
  .navigation__slider {
    overflow: hidden;
    .s7-angle-left:hover { transform: translateX(-5px) }
    .s7-angle-right:hover { transform: translateX(5px) }
    .s7-angle-left { font-size: 3rem; width: 20px; height: 20px  } /* 450 */
    .s7-angle-right { font-size: 3rem; width: 20px; height: 20px  } /* 450 */
  }
}
@media ( max-width: 345px ) {
  .navigation__slider {
    .s7-angle-left:hover { transform: translateX(-3px) }
    .s7-angle-right:hover { transform: translateX(3px) }
    .s7-angle-left  { font-size: 2.8rem; width: 2px; height: 20px  } /* 345 */
    .s7-angle-right { font-size: 2.8rem; width: 10px; height: 20px  } /* 345 */
    }
  .navigation__section {
    &:hover .navigation__sectionImage { transform: scale(1.1); }
    &:hover .navigation__sectionNameText { transform: scale(1) translateY(3px); }
  }
}

.wrapper {

  @include media( $p: $break-max) { /* 1285 */
    width: 1010px;
  }
  @include media( $p: $break-lg) { /* 1020 */
    width: 760px;
  }
  @include media( $p: $break-md) { /* 810 */
    width: 720px;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 96%;
  }
  @include media( $p: $break-xs) { /* 680 */
    width: 96%;
  }
  /*@include media( $p: $break-extra-xs ) { /!* 580 *!/
    width: 98%;
  }
  @include media( $p: $break-tiny ) { /!* 505 *!/
    width: 99%;
  }
  @include media( $p: $break-extra-tiny ) { /!* 450 *!/
    width: 330px;
  }*/
  @include media( $p: 345px ) {
    max-width: 315px;
    padding-left: 2px;
  }
}

.l-navigation__sliderWrapper {
  @include media( $p: $break-max) { /* 1285 */
    width: 1000px - 90;
  }
  @include media( $p: $break-lg) { /* 1020 */
    width: 760px - 80;
  }
  @include media( $p: $break-md) { /* 810 */
    width: 720px - 80;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 550px;
  }
  @include media( $p: $break-xs) { /* 680 */
    width: 76%;
  }
  @include media( $p: $break-extra-xs ) { /* 580 */
    width: 82%;
  }
  /*@include media( $p: $break-tiny ) { /!* 505 *!/
   width: 345px;
 }*/
 @include media( $p: $break-extra-tiny ) { /* 450 */
   width: 75%;
 }
 /*@include media( $p: 345px ) { /!* 345 *!/
   width: 220px;
 }*/
}

.navigation__section {
  @include media($p: $break-tiny) { /* 505 */
    margin: 4px;
  }
}
.relation-min-70 {
  @include media($p: $break-xs) { /* 680 */
    width: 55px;
  }
}
.navigation__sectionImage {
  @include media($p: $break-tiny) { /* 505 */
    width: 90%;
  }
}
.navigation__sectionNameText {
  @include media($p: $break-xs) { /* 680 */
    font-size: .9rem;
  }
  @include media($p: $break-tiny) { /* 505 */
    font-size: .8rem;
  }
}


.l-article__infoImage { @include media( $p: $break-lg) { align-items: center } }

.relation-min-250 {
  @include media($p: $break-md) {
    width: 168px;
  }
  @include media($p: $break-sm) { /* 770 */
    width: 100%;
  }
  /*@include media($p: $break-xs) { /!* 680 *!/
    width: 137px;
  }
  @include media($p: $break-extra-xs) {
    width: 150px;
  }
  @include media($p: $break-tiny) { /!* 505 *!/
    width: 190px;
  }
  @include media( $p: $break-extra-tiny ) { /!* 450 *!/
    width: 155px;
  }
  @include media( $p: 345px ) { /!* 345 *!/
    width: 138px;
  }*/
}
.content__cell-bg {
  @include media($p: $break-sm) { /* 770 */
    width: 32%;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
  width: 48%;
  }
}

.wrapper-small {
  width: $sm-break-lg;
  margin: 40px auto;
  padding: 20px 30px;
  transition: .2s;
  @include media( $p: $sm-break-lg + 50 ) { /* 1050 */
    width: $sm-break-md; /* 800 */
  }
  @include media( $p: $sm-break-md + 60 ) { /* 850 */
    width: 90%; /*  */
  }
  @include media( $p: $sm-break-sm + 60 ) { /* 650 */
    width: 94%; /* 400 */
    margin: 25px auto;
    padding: 10px;

  }
  @include media( $p: $sm-break-xs + 60 ) { /* 450 */
    width: 98%;
    margin: 15px auto;
    padding: 5px;
  }
}

.content__cell-sm {
  @include media( $p: $sm-break-md + 60 ) { /* 850 */
    width: 32%; /*  */
  }
  @include media($p: $break-sm) { /* 650 */
    width: 48%;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 49%;
  }
}

.relation-min-230 {
  @include media( $p: $sm-break-md + 60 ) { /* 850 */
    width: 90%; /*  */
    margin: 0 auto;
  }
  @include media( $p: $sm-break-sm + 60 ) { /* 660 */
    width: 90%;
  }
  @include media( $p: $sm-break-xs + 60 ) { /* 460 */
    width: 95%;
  }
}

.l-header__search {
  @include media( $p: $break-lg) { /* 1020 */
    width: 55%;
    justify-content: baseline;
  }
}

@media ( max-width: $break-md) {  /* Пошаманили с header с 810px */
  .l-header__holder { flex-direction: column;  }
  .l-header__logo { padding-left: 3px; }
  .l-header__search { @include width($w: 100%); margin: 5px auto 2px; justify-content: flex-end; }
  .l-header__userHolder { @include width($w: 100%); margin: 3px auto 5px; }
}
@media ( max-width: $break-xs ) { /* Пошаманили с header с 680 */
  .l-header__wrapper { flex-direction: column; align-items: center; padding-top: 5px; }
  .l-header__logo,
  .l-header__holder { width: 100%; align-items: center; }
  .l-header__search { justify-content: center; }
  .l-header__userHolder { justify-content: space-around; }
  .header__controlBtn { justify-content: center }
  .l-header__userInfo { align-items: center; }
}

.relation-min-120 {
  @include media( $p: $break-max ) { /* 1020 */
    width: 119px;
  }
  @include media( $p: $break-lg ) { /* 1020 */
    width: 125px;
  }
  @include media( $p: $break-md ) { /* 810 */
    width: 115px;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 130px;
  }
  @include media( $p: $break-xs ) { /* 680 */
    margin: 3px;
    width: 105px;
  }
  @include media( $p: $break-extra-xs ) { /* 580 */
    width: 114px;
  }
  @include media($p: $break-tiny) { /* 505 */
    width: 92px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 103px;
  }
  @include media( $p: 345px ) { /* 345 */
    width: 100px;
  }
}

@media ( max-width: $break-xs ) {
  .s7-angle-left { margin: 0 } /* Уберём margin — и без того тесно */
  .s7-angle-right { margin: 0 } /* Уберём margin — и без того тесно */
  .l-article__infoImage {
    .s7-angle-left, .s7-angle-right { width: 20px }
  }
  .article__buttonToCart, .article__buttonBuy { height: 45px  }

  h4 { margin: 5px auto 10px; @include media( $p: 345px ) { margin: 3px 5px } }
}


.navigation__slider { @include media( $p: $break-extra-tiny ) { justify-content: center } }
.navigation__offerRating { @include media( $p: 345px ) { margin: 5px 3px } }

.relation-min-200 {
  @include media( $p: $sm-break-sm + 80 ) {
    width: 137px; /* Увеличим один блок в пространстве меньших breakpoint'ов */
  }
}
.relation-min-200-special-xs {
  @include media( $p: $sm-break-sm + 80 ) {
    width: 220px; /* Конкретно этот блок увеличим на меньшее количество */
  }
}
.relation-min-150 {
  @include media( $p: $break-lg) {
    width: 130px; /* Сделаем блок крупнее, чтобы ровно вставало */
  }
  @include media( $p: $break-xs ) {
    width: 109px; /* Сделаем блок крупнее, чтобы ровно вставало */
  }
}

.content__cellDouble {
  @include media( $p: $break-max) {
    display: none; /* Уберём двойной блок, чтобы не ломал всё нафиг */
  }
}

@media ( max-width: $break-md) {
  .content__mediaPrice {
    display: block; /* Добавим цену на маленьких расширениях */
  }
  .content__cellImage {
    max-width: 85%; /* Уменьшим карьтинку на низких расширениях, для лучшей читаемости цены */
  }
  .like__icon {
    width: 15px; /* Уменьшим иконку на низких расширениях, для лучшей сбалансированности */
  }
}



.l-article__infoHolder {
  @include media( $p: $sm-break-lg ) {
    flex-direction: column;
    align-items: center;
    margin: 20px auto 70px;
  }
}

@include media( $p: $break-lg) {
  .l-article__infoImage {
    margin: 0 auto;
  }
  .article__buttons {

  }
}

.l-article__charInfo, .l-article__ratingInfo, .l-article__commentsInfo {
  @include media( $p: $break-lg) {
    margin-left: 70px;
  }
  @include media( $p: $break-md) {
    margin-left: 50px;
  }
  @include media( $p: $break-xs ) {
    margin-left: 0;
    margin-right: 0;
  }
}
.rating__oneStar-offer {
  @include media( $p: $break-xs ) {
    width: 15px;
  }
}

.l-article__oneComment,.l-article__commentsInfo {
  @include media( $p: $break-md) {
    width: 450px;
  }
  @include media( $p: $break-xs ) { /* 680 */
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }
  @include media( $p: $break-tiny ) { /* 505 */
    width: 400px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 300px;
  }
}

/*  ========= Cart =========  */

@media( max-width: $sm-break-lg + 50 ) { /* 1050 */
  .l-cart__oneItem { flex-direction: column; justify-content: center; align-items: flex-start; }
  .l-cart__itemActions { margin-left: 53px }
}

@media screen and ( max-width: $sm-break-md + 60 ) {  /* 860 */
  .l-cart__itemActions {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 76px;
  }
  .l-cart__oneItem { height: auto; padding-bottom: 15px; }
  .l-cart__infoText { height: auto; }
  .cart__seller { margin-left: 10px }
}
@media screen and ( max-width: $sm-break-sm + 60 ) {  /* 660 */
  .cart__checkbox { margin-right: 10px }
  .l-cart__itemActions { height: 115px; margin-left: 37px; width: -webkit-fill-available; }
  .l-cart__oneItem { flex-wrap: wrap; justify-content: flex-end; align-items: flex-start; }
  .l-cart__goodsInfo { width: 100%; height: auto }
  .l-cart__amount { width: 100px; }
  .cart__price { margin: 0; height: 40px; line-height: 40px }
  .l-cart__articleButtonsHolder { height: 75px; width: 100%; flex-direction: column; justify-content: space-around; align-items: flex-start; }
  .cart__itemBtn-delete { min-width: 206px; display: flex; justify-content: center; align-items: center; }
  .content__cellImage { max-width: 90% }
  .l-cart__totalHolder { align-items: center }
}
@media screen and ( max-width: $sm-break-xs + 60 ) {  /* 460 */
  .cart__caption { font-size: 1rem }
  .l-cart__oneItem { height: auto; }
  .cart__goodsImage { margin-right: 5px; }
  .relation-min-110 { width: 80px; }
  .l-cart__goodsInfo { margin: 7px 0}
  .l-cart__infoText { height: auto; font-size: 12px; }
  .cart__checkbox { margin-right: 5px }
  .l-cart__itemActions { margin: 0 30px; }

  .cart__itemBtn-like, .cart__itemBtn-delete, .cart__itemBtn-rate, .cart__itemBtn-addAgain { width: 100%; display: flex; justify-content: center; align-items: center;  }
  .cart__blockTitle { margin-left: 14px; }
}

/*  ========= SELLER'S Page ==========  */

.sellerPage__avatar {
  @include media($p: $break-extra-tiny) {
    margin-right: 10px;
  }
}
.sellerPage__info {
  @include media($p: $break-tiny) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and ( max-width: $break-tiny ) {
  .sellerPage__sellerInfo-sm, .sellerPage__sellerInfo-bg {
    width: 100%;
  }
  .sellerPage__sellerInfo-sm h4, .sellerPage__sellerInfo-bg h4 {
    width: 100%;
    text-align: center;
  }
  .sellerPage__sellerInfo-sm { margin-right: 0 }
  .sellerPage__sellerInfo-bg { margin-top: 10px }
}


