$break-max: 1285px;
$break-lg: 1020px;
$break-md: 810px;
$break-sm: 770px;
$break-xs: 680px;
$break-extra-xs: 580px;
$break-tiny: 505px;
$break-extra-tiny: 450px;


$sm-cell-width: 200px;
$sm-break-lg: $sm-cell-width * 4 + 15px; /* 815 */
$sm-break-md: $sm-cell-width * 3 + 15px; /* 615 */
$sm-break-sm: $sm-cell-width * 2 + 15px; /* 415 */
$sm-break-xs: $sm-cell-width * 1 + 15px; /* 215 */

@mixin media ( $p ) {
  @media screen and (max-width: $p) {
    @content
  }
}

body, html, .container, .navigation__slider {
  @include media( $p: 320px ) {
    max-width: 320px;
  }
}
@media ( max-width: $break-extra-tiny ) {
  .navigation__slider {
    overflow: hidden;
    .s7-angle-left:hover { transform: translateX(-5px) }
    .s7-angle-right:hover { transform: translateX(5px) }
    .s7-angle-left { font-size: 3rem; width: 20px; height: 20px  } /* 450 */
    .s7-angle-right { font-size: 3rem; width: 20px; height: 20px  } /* 450 */
  }
}
@media ( max-width: 345px ) {
  .navigation__slider {
    .s7-angle-left:hover { transform: translateX(-3px) }
    .s7-angle-right:hover { transform: translateX(3px) }
    .s7-angle-left  { font-size: 2.8rem; width: 2px; height: 20px  } /* 345 */
    .s7-angle-right { font-size: 2.8rem; width: 10px; height: 20px  } /* 345 */
    }
  .navigation__section {
    &:hover .navigation__sectionImage { transform: scale(1.1); }
    &:hover .navigation__sectionNameText { transform: scale(1) translateY(3px); }
  }
}

.wrapper {

  @include media( $p: $break-max) { /* 1285 */
    width: 1010px;
  }
  @include media( $p: $break-lg) { /* 1020 */
    width: 760px;
  }
  @include media( $p: $break-md) { /* 810 */
    width: 720px;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 650px;
  }
  @include media( $p: $break-xs) { /* 680 */
    width: 560px;
  }
  @include media( $p: $break-extra-xs ) { /* 580 */
    width: 460px;
  }
  @include media( $p: $break-tiny ) { /* 505 */
    width: 400px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 330px;
  }
  @include media( $p: 345px ) {
    max-width: 315px;
    padding-left: 2px;
  }
}

.l-navigation__sliderWrapper {
  @include media( $p: $break-max) { /* 1285 */
    width: 1000px - 90;
  }
  @include media( $p: $break-lg) { /* 1020 */
    width: 760px - 80;
  }
  @include media( $p: $break-md) { /* 810 */
    width: 720px - 80;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 550px;
  }
  @include media( $p: $break-xs) { /* 680 */
    width: 455px;
  }
  @include media( $p: $break-extra-xs ) { /* 580 */
    width: 460px - 85;
  }
  @include media( $p: $break-tiny ) { /* 505 */
    width: 345px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 230px;
  }
  @include media( $p: 345px ) { /* 345 */
    width: 220px;
  }
}

.navigation__section {
  @include media( $p: $break-md ) { /* 810 */
    margin: 5px;
  }
  @include media( $p: $break-xs) { /* 680 */
    margin: 3px;
  }
  @include media($p: $break-tiny) { /* 505 */
    margin: 5px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    margin: 3px;
  }
}


.relation-min-250 {
  /*@include media($p: $break-md) { /!* 810 *!/
    width: 230px;
  }*/
  @include media($p: $break-sm) { /* 770 */
    width: 230px;
  }
  @include media($p: $break-xs) { /* 680 */
    width: 137px;
  }
  @include media($p: $break-extra-xs) {
    width: 150px;
  }
  @include media($p: $break-tiny) { /* 505 */
    width: 190px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 155px;
  }
  @include media( $p: 345px ) { /* 345 */
    width: 138px;
  }
}

.wrapper-small {
  width: $sm-break-lg + 60;
  margin: 50px auto;
  padding: 20px 30px;
  transition: .2s;
  @include media( $p: $sm-break-lg + 80 ) { /* 895 */
    width: $sm-break-md + 60; /* 675. Сбрасываем до 3 блоков */
  }
  @include media( $p: $sm-break-md + 80 ) {
    width: $sm-break-sm + 60; /* 410. Сбрасываем до 2 блоков */
  }
  @include media( $p: $sm-break-sm + 80 ) {
    width: 300px; /* Сбрасываем до 1 блока с запасиком */
    padding: 10px 10px;
  }
}


@media ( max-width: $break-md) {  /* Пошаманили с header */
  .l-header__holder { flex-direction: column; padding-right: 7px }
  .l-header__logo { padding-left: 3px; }
  .l-header__search { @include width($w: 100%); margin: 5px auto 2px; }
  .l-header__userHolder { @include width($w: 100%); margin: 3px auto 5px; }
}
@media ( max-width: $break-xs ) { /* Пошаманили с header */
  .l-header__wrapper { flex-direction: column; align-items: center; padding-top: 5px; }
  .l-header__logo,
  .l-header__holder { width: 100%; align-items: center; }
  .l-header__search { justify-content: center; }
  .l-header__userHolder { justify-content: baseline; }
}

/*.navigation__section {
  @include media( $p: $break-lg ) {
    margin: 5px 6px; /!* Увеличим margin по бокам, чтобы не обрезались секции *!/
  }
  @include media( $p: $break-md ) {
    margin: 5px 11px; /!* Ещё увеличим *!/
  }
  @include media( $p: $break-sm ) {
    margin: 5px; /!* И вернём его обратно :D *!/
  }
}*/

.relation-min-120 {
  @include media( $p: $break-max ) { /* 1020 */
    width: 119px;
  }
  @include media( $p: $break-lg ) { /* 1020 */
    width: 125px;
  }
  @include media( $p: $break-md ) { /* 810 */
    width: 115px;
  }
  @include media( $p: $break-sm ) { /* 770 */
    width: 130px;
  }
  @include media( $p: $break-xs ) { /* 680 */
    margin: 3px;
    width: 105px;
  }
  @include media( $p: $break-extra-xs ) { /* 580 */
    width: 114px;
  }
  @include media($p: $break-tiny) { /* 505 */
    width: 92px;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 103px;
  }
  @include media( $p: 345px ) { /* 345 */
    width: 100px;
  }
}

@media ( max-width: $break-xs ) {
  .s7-angle-left { margin: 0 } /* Уберём margin — и без того тесно */
  .s7-angle-right { margin: 0 } /* Уберём margin — и без того тесно */
  .l-article__infoImage {
    .s7-angle-left, .s7-angle-right { width: 20px }
  }
  h4 { margin: 5px auto 10px; @include media( $p: 345px ) { margin: 3px 5px } }
}

.navigation__slider { @include media( $p: $break-extra-tiny ) { justify-content: center } }
.navigation__offerRating { @include media( $p: 345px ) { margin: 5px 3px } }

.relation-min-200 {
  @include media( $p: $sm-break-sm + 80 ) {
    width: 137px; /* Увеличим один блок в пространстве меньших breakpoint'ов */
  }
}
.relation-min-200-special-xs {
  @include media( $p: $sm-break-sm + 80 ) {
    width: 220px; /* Конкретно этот блок увеличим на меньшее количество */
  }
}
.relation-min-150 {
  @include media( $p: $break-lg) {
    width: 130px; /* Сделаем блок крупнее, чтобы ровно вставало */
  }
  @include media( $p: $break-xs ) {
    width: 109px; /* Сделаем блок крупнее, чтобы ровно вставало */
  }
}

.content__cellDouble {
  @include media( $p: $break-max) {
    display: none; /* Уберём двойной блок, чтобы не ломал всё нафиг */
  }
}

@media ( max-width: $break-md) {
  .content__mediaPrice {
    display: block; /* Добавим цену на маленьких расширениях */
  }
  .content__cellImage {
    max-width: 75%; /* Уменьшим карьтинку на низких расширениях, для лучшей читаемости цены */
  }
  .like__icon {
    width: 15px; /* Уменьшим иконку на низких расширениях, для лучшей сбалансированности */
  }
}



.l-article__infoHolder {
  @include media( $p: $sm-break-lg ) {
    flex-direction: column;
    align-items: center;
    margin: 20px auto 70px;
  }
}

@include media( $p: $break-lg) {
  .l-article__infoImage {
    margin: 0 auto;
  }
  .article__buttons {

  }
}

.l-article__charInfo, .l-article__ratingInfo, .l-article__commentsInfo {
  @include media( $p: $break-lg) {
    margin-left: 70px;
  }
  @include media( $p: $break-md) {
    margin-left: 50px;
  }
  @include media( $p: $break-xs ) {
    margin-left: 0;
    margin-right: 0;
  }
}
.buttonToCart-small { @include media( $p:  $sm-break-sm + 80 ) { height: 45px }}
.rating__oneStar-offer {
  @include media( $p: $break-xs ) {
    width: 15px;
  }
}

.l-article__oneComment,.l-article__commentsInfo {
  @include media( $p: $break-md) {
    width: 450px;
  }
  @include media( $p: $break-xs ) { /* 680 */
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }
  @include media( $p: $break-extra-tiny ) { /* 450 */
    width: 300px;
  }
}