
@mixin width ( $w: auto ) {
  width: $w;
}
@mixin max-width ( $w: none ) {
  max-width: $w;
}
@mixin min-width ( $w: none ) {
  min-width: $w;
}

@mixin height ( $h: auto ) {
  height: $h;
}
@mixin max-height ( $h: none ) {
  max-height: $h;
}
@mixin min-height ( $h: none ) {
  min-height: $h;
}

@mixin transition ( $t: .2s ) {
  transition: $t;
}



/* Flex */

@mixin flex {
  display: flex;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin wrap {
  flex-wrap: wrap;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}
@mixin justify-between {
  display: flex;
  justify-content: space-between;
}
@mixin justify-around {
  display: flex;
  justify-content: space-around;
}
@mixin justify-end {
  display: flex;
  justify-content: flex-end;
}
@mixin justify-start {
  display: flex;
  justify-content: flex-start;
}

@mixin items-center {
  display: flex;
  align-items: center;
}
@mixin items-baseline {
  display: flex;
  align-items: baseline;
}
@mixin items-end {
  display: flex;
  align-items: flex-end;
}
@mixin items-start {
  display: flex;
  align-items: flex-start;
}
@mixin items-stretch {
  display: flex;
  align-items: stretch;
}
