$color-background-body: #fff;

$header-height: 80px;
$header-color: #314257;
$userNav-width: 100%/5;

$border-color-RGB: rgba(5, 32, 51, 0.2);
$border-color: #052033;
$green-color-very-light: #cfe5bf;
$green-back: #1baf6b;
$green-color: #2f9156;
$green-back1: #74D571;
$red-color: #e3425b;
$orange-color: #f3b531;
$yellow-color: #ffe16c;
$blue-color: #0091f8;
$blue-color-darker: #446cb3;
$blue-color-lighter: #a1c6cf;

$blue-green-color: #5bc4be;

$cell-base-color: #f4f4f4 + 10;

