@import "../../node_modules/normalize-scss/sass/normalize";
@import "global";
@import "mixins";

$header-height: 100px;

/* ========= HEADER ========= */


.header {
  background-color: #dadada;
  height: $header-height;
}

.l-header__logo { @include width($w: 10%); @include min-width($w: 85px); }

  .l-header__logoHolder { @include height();}

  .header__logoImage { @include width($w: 90%); }

  .header__toIndexLink {}

  .header__linkText {
    text-decoration: none;
    text-align: center;}


.l-header__holder { @include width($w: 90%); @extend .margin-center; }

.l-header__block { @include width($w: 100%);
  height: 50%;}

.header__search { @include width($w: 66%); height: 100% }

  input.header__searchInput { width: 100%; height: 35px }


.l-header__userHolder { @include width($w: 33%); background-color: #006666; }

  .l-header__userInfo { @include width($w: 30%); }

    .header__userName { text-align: center }

    .header__userAva { @include width(); @include max-width($w: 95%); max-height: 75%; border-radius: 25px }

  .header__userCart { @include width($w: 33%); color: #f2f2f2; }

  .header__userLogIn { @include width($w: 33%); }



.l-header__sections { @include width($w: 66%); }

  .header__section { @include max-width($w: 15%); @extend .margin-3;}

  .header__sectionName {}

  .header__sectionNameText {}

  .header__sectionImage {  @include max-width($w: 80%) }


.l-header__infoHolder { @include width($w: 33%); }

  .header__infoOrders {}

  .header__infoHelp {}








/* ONE SECTION */


.section {}
.section__name {
  font-variant: all-small-caps;
}
.section__image {

}