@import "../../node_modules/normalize-scss/sass/normalize";
@import "global";
@import "mixins";

$header-height: 80px;
$header-color: #82b383;
$userNav-width: 100%/5;

$cell-base-color: #f4f4f4 + 10;

/* ========= HEADER ========= */


.header {
  background-color: $header-color;
  height: $header-height;
  padding-left: 10px;
  padding-right: 10px;
  @extend .margin-bottom-20;
}

.l-header__logo { @include width(); @include min-width($w: 110px); }

  .l-header__logoHolder { @include height($h: 60px);}

  .header__logoImage { @include height($h: 100%); }

  .header__toIndexLink {}

  .header__linkText {
    text-decoration: none;
    text-align: center;}


.l-header__holder { @include width($w: 80%); }

.l-header__block { @include width($w: 100%); }

.header__search { @include width($w: 66%); height: 100% }

  .header__searchLabel { width: 70%; height: 35px; border: 1px solid $header-color - 50; border-radius: 2px }

  input.header__searchInput { width: 90%; height: 100%; outline: none; border: none; padding: 3px 7px; border-radius: 2px }

  .search__iconHolder { @include width($w: 10%); outline: none; border: none; background: $header-color - 50; }


.l-header__userHolder { @include width($w: 33%); background-color: transparent; } // Right icons

  .l-header__userInfo { @include width($w: $userNav-width); }

    .header__userName { text-align: center }

    .header__userAva { @include width(); @include min-width($w: 40px); @include height($h: 40px); border-radius: 25px }

  .header__userCart { @include width($w: $userNav-width); color: #f2f2f2; }

  .header__infoOrders { @include width($w: $userNav-width); color: #f2f2f2;}
  .header__infoHelp { @include width($w: $userNav-width); color: #f2f2f2;}

  .header__userLogIn { @include width($w: $userNav-width); color: #f2f2f2; }


.l-header__sectionBlock { @include width(); @include height() }
.l-header__sections {  }

  .header__section { @include max-width($w: 30%); @extend .margin-5;
    &:hover img { transform: scale(1.6); @include transition}
  }

  .header__sectionName {}

  .header__sectionNameText {}

  .header__sectionImage {  @include max-width($w: 80%); @include transition }


.l-header__infoHolder { @include width($w: 33%); }





/* ONE SECTION */


.section {}
.section__name {
  font-variant: all-small-caps;
}
.section__image {

}



/* ============ CONTENT ============ */

.l-content__holder { @include max-width( 1260px )}
.l-content__cell {
  @extend .margin-1;
  background-color: rgba( 0, 0, 0, .014);
  &:nth-child(1n) {
    background-color: rgba( 0, 0, 0, .014);
  }
  &:nth-child(2n) {
    background-color: rgba( 0, 0, 0, .034);
  }
  &:nth-child(3n) {
    background-color: rgba( 0, 0, 0, .004);
  }
  &:nth-child(4n) {
    background-color: rgba( 0, 0, 0, .019);
  }
  &:nth-child(5n) {
    background-color: rgba( 0, 0, 0, .025);
  }
  &:nth-child(6n) {
    background-color: rgba( 0, 0, 0, .020);
  }
  &:nth-child(8n) {
    background-color: rgba( 0, 0, 0, .01);
  }
  &:nth-child(9n) {
    background-color: rgba( 0, 0, 0, .046);
  }
  &:nth-child(10n) {
    background-color: rgba( 0, 0, 0, .012);
  }
  &:nth-child(11n) {
    background-color: rgba( 0, 0, 0, .025);
  }

  &:nth-child(1n + 11) {
    background-color: rgba( 0, 0, 0, .055);
  }
  &:nth-child(2n + 11) {
    background-color: rgba( 0, 0, 0, .0321);
  }
  &:nth-child(3n + 11) {
    background-color: rgba( 0, 0, 0, .08);
  }
  &:nth-child(4n + 11) {
    background-color: rgba( 0, 0, 0, .005);
  }
  &:nth-child(5n + 11) {
    background-color: rgba( 0, 0, 0, .026);
  }
  &:nth-child(6n + 11) {
    background-color: rgba( 0, 0, 0, .007);
  }
  &:nth-child(8n + 11) {
    background-color: rgba( 0, 0, 0, .017);
  }
  &:nth-child(9n + 11) {
    background-color: rgba( 0, 0, 0, .005);
  }
  &:nth-child(10n + 11) {
    background-color: rgba( 0, 0, 0, .068);
  }
  &:nth-child(11n + 11) {
    background-color: rgba( 0, 0, 0, .015);
  }
}
.content__cellDouble {
  box-sizing: border-box;
  background: white;
  @extend .margin-2;
}

/*@media ( max-width: 1129px ) {
  .l-content__cell {
    &:nth-child(3n+2) {
      background-color: red;
    }
    &:nth-child(4n+6) {
      background-color: blue;
    }
    &:nth-child(5n+3) {
      background-color: green;
    }
    &:nth-child(6n+10) {
      background-color: yellow;
    }
  }
}*/
.content__cellImage { @include max-height(90%)}
.cell__icon { position: absolute; top: 3px; left: 3px }