@import "../../node_modules/normalize-scss/sass/normalize";
@import "var";
@import "global";
@import "mixins";



/* ========= HEADER ========= */


.header {
  background-color: $header-color;
  min-height: $header-height;
}

.l-header__logo { @include width(); @include min-width($w: 110px); }

  .l-header__logoHolder { @include height($h: 60px);}

  .header__logoImage { @include height($h: 100%); }

  .header__toIndexLink {}

  .header__linkText {
    text-decoration: none;
    text-align: center;}


.l-header__holder { @include width($w: 90%); }

.l-header__block { @include width($w: 100%); }

.l-header__search { @include width($w: 60%); }

  .header__searchLabel { width: 90%; height: 35px; border: 1px solid $header-color + 15; border-radius: 2px }

  input.header__searchInput { width: 90%; outline: none; border: none; padding: 3px 7px; border-radius: 2px 0 0 2px }

  .search__iconHolder { @include width($w: 10%); outline: none; border: none; background: $header-color + 50; }


.l-header__userHolder { @include width($w: 40%); background-color: transparent; // Right icons
  div {
    min-width: 80px;
  }
}

  .l-header__userInfo { @include width($w: $userNav-width); }

    .header__userName { text-align: center; color: #fefefe }

    .header__userAva { @include width(); @include min-width($w: 40px); @include height($h: 40px); border-radius: 25px }

  .header__userCart { @include width($w: $userNav-width); color: #f2f2f2; }

  .header__infoOrders { @include width($w: $userNav-width); color: #f2f2f2;}
  .header__infoHelp { @include width($w: $userNav-width); color: #f2f2f2;}

  .header__userLogIn { @include width($w: $userNav-width); color: #f2f2f2; }


.l-navigation__sectionBlock { @include width(); @include height() }
.l-navigation__sections { list-style: none; overflow-x: hidden; }
.navigation__sectionNameText { @include transition }

.navigation__section { @include width( ); @extend .margin-6;
  &:hover .navigation__sectionImage { transform: scale(1.2); @include transition($t: .1s)}
  &:hover .navigation__sectionNameText { transform: scale(1.07) translateY(3px); @include transition($t: .1s) }
}

  .navigation__sectionName {}

  .navigation__sectionNameText {}

  .navigation__sectionImage {  @include transition }


.l-header__infoHolder { @include width($w: 33%); }





/* ONE SECTION */

.navigation__sliderCaption {}

.navigation__slider { position: relative }
.header__slider-before,
.header__slider-after { display: block; position: absolute; width: 50px; padding-top: 2%; height: 100%; @include transition(); }

.header__slider-before {  left: 10px;
  &:hover {
    @include transition();
    transform: translateX(-10px)

  }}
.header__slider-after { right: 10px;
  &:hover {
    @include transition();
    transform: translateX(10px)
  }}

.l-navigation__sliderWrapper { overflow-x: hidden; margin: 0; }



.section {}
.section__name { font-variant: all-small-caps; }
.section__image {}

.s7-angle-left { display: flex; justify-content: flex-end; }
.s7-angle-right {  }

/* ============ CONTENT ============ */

.l-content__holder { @include max-width( 1260px )}
.l-content__cell {
  @extend .margin-1;
  background-color: rgba( 0, 0, 0, .0200);
  &:nth-child(1n) {
    background-color: rgba( 0, 0, 0, .0199);
  }
  &:nth-child(2n) {
    background-color: rgba( 0, 0, 0, .0340);
  }
  &:nth-child(3n) {
    background-color: rgba( 0, 0, 0, .0400);
  }
  &:nth-child(4n) {
    background-color: rgba( 0, 0, 0, .0210);
  }
  &:nth-child(5n) {
    background-color: rgba( 0, 0, 0, .0180);
  }
  &:nth-child(6n) {
    background-color: rgba( 0, 0, 0, .0194);
  }
  &:nth-child(8n) {
    background-color: rgba( 0, 0, 0, .0240);
  }
  &:nth-child(9n) {
    background-color: rgba( 0, 0, 0, .0460);
  }
  &:nth-child(10n) {
    background-color: rgba( 0, 0, 0, .0220);
  }
  &:nth-child(11n) {
    background-color: rgba( 0, 0, 0, .0250);
  }

  &:nth-child(1n + 11) {
    background-color: rgba( 0, 0, 0, .0368);
  }
  &:nth-child(2n + 11) {
    background-color: rgba( 0, 0, 0, .0321);
  }
  &:nth-child(3n + 11) {
    background-color: rgba( 0, 0, 0, .0280);
  }
  &:nth-child(4n + 11) {
    background-color: rgba( 0, 0, 0, .0397);
  }
  &:nth-child(5n + 11) {
    background-color: rgba( 0, 0, 0, .0265);
  }
  &:nth-child(6n + 11) {
    background-color: rgba( 0, 0, 0, .0270);
  }
  &:nth-child(8n + 11) {
    background-color: rgba( 0, 0, 0, .0229);
  }
  &:nth-child(9n + 11) {
    background-color: rgba( 0, 0, 0, .0302);
  }
  &:nth-child(10n + 11) {
    background-color: rgba( 0, 0, 0, .0248);
  }
  &:nth-child(11n + 11) {
    background-color: rgba( 0, 0, 0, .0220);
  }
}
.content__cellDouble {
  box-sizing: border-box;
  background: white;
  @extend .margin-2;
}
.content__doubleCellHolder {
  @include width($w: 100%);
  @include height($h: 60%);
  padding: 0 50px;
}
.content__doubleCellTitle {
  margin-bottom: 7px;
}
.content__doubleCellImage {
  @include max-width($w: 20%);
  @include max-height($h: 90%);
}
.content__cellImage {
  @include max-width($w: 80%);
  @include max-height($h: 90%);
  background-size: contain;
}
.cell__moreHolder, .cell__icon { position: absolute; top: 4px; left: 4px }
.like__icon { background: url("../img/icons-common/like-disabled.svg") center no-repeat; }
.like__icon-active { background: url("../img/icons-common/like.svg") center no-repeat; }

.content__mediaPrice { font-size: .8rem ;display: none; position: absolute; bottom: 2px; right: 2px; }


/* ======== ONE ARTICLE ====== */

.l-article__infoHolder { margin: 50px auto 80px }
.l-article__infoImage { @extend .margin-right-30; }
.close__icon { position: absolute; right: 5px; top: 4px; color: $border-color; font-weight: 800 }

.article__iconLike {  }

.rating__oneStar, .rating__oneStar-offer { @extend .margin-right-2; }
.article__likesCount { @extend .margin-left-10; @extend .margin-right-3; @extend .radius-2; color: #515151; font-size: large; font-weight: 600; background-color: $border-color-RGB; }

.article__sectionName { padding: 15px 0 0; font-size: 1.3rem; }

.article__goodsName { margin: 15px 0 }


.article__button { text-decoration: none; @include width; @include height( $h: 32px ); padding: 5px 10px; @extend .radius-2;  @extend .border-1;  }
.article__buttonDetails { @include height( $h: 40px );  }
.article__buttonToCart { background-color: $green-color; font-weight: 600; }
.article__buttonBuy { font-weight: 600; background-color: $orange-color }
.actionButtons__icon { @extend .icon-free; @extend .font-1-3; @extend .margin-right-10; font-weight: 600; }
.amount__holder { @extend .border-1; @extend .padding-5; }

.l-article__moreHolder { border-top: 2px solid $border-color-RGB; }


/*          One article page            */

.article__about { font-size: 1.3rem }
.navigation__section { text-decoration: none; }
.navigation__offerRating { margin: 15px 3px 5px; }

.l-article__char { @include width( $w: 100%)}
.l-article__charInfo, .l-article__ratingInfo, .l-article__commentsInfo { @extend .margin-left-100; }
.l-article__oneChar { @include width( $w: 310px) }
.article__oneKey { font-weight: 700; @include width( $w: 150px) }
.article__oneKey-small { @include width( $w: 70px) }
.article__oneValue-small { width: 30px; }

.article__oneValueProgress { @include height( $h: 20px); @include width( $w: 165px ); @extend .border-1; @extend .radius-1; }
.article__progress { @include height( $h: 100% ); background-color: #aaaa00; }

//.l-article__oneComment { @include max-width( $w: 500px ) }
.l-article__commentsInfo { @include width( $w: 650px) }
.article__commentTitle, .article__commentUserName { font-weight: 700; }




@import 'media';