doctype
html
    include jade/static/m-head
    +head( 'Favorite' )
    body
        include jade/static/header
        include jade/static/m-pageCaption
        +page-caption( 'Избранное' )
        include jade/static/footer


