doctype
html
    include jade/static/m-head
    +head( 'Home Page' )
    body
        include jade/static/header
        .navigation.wrapper
            .nav__menu
                i.la.la-arrow-left
                .nav__itemsHolder
                    include jade/_mixin-navItem
                    +nav-item( '1.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '1.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                i.la.la-arrow-right
        .holder.wrapper
            include jade/_mixin-cell
            +cell(2, '4', 'active-like')
            +cell(99999, '8', 'active-like')
            +cell(24, '1')
            +cell(56, '2')
            +cell(127, '3')
            +cell(6, '12')
            +cell(270, '5', 'active-like')
            +cell(694, '6')
            +cell(53, '7')
            +cell(538, '13')
            +cell(567, '9', 'active-like')
            +cell(56, '10')
            +cell(23, '11')
            +cell(56, '14')
            +cell(127, '15', 'active-like')
            +cell(6, '15')
            +cell(270, '17')
            +cell(694, '18', 'active-like')
            +cell(53, '19')
            +cell(56, '20')
            +cell(23, '21')
            +cell(56, '22')
            +cell(127, '23', 'active-like')
            +cell(6, '24')
            +cell(270, '25')
        include jade/static/footer