doctype
html
    include jade/static/m-head
    +head( 'Home Page' )
    body
        include jade/static/header
        .navigation.wrapper
            .nav__menu
                i.la.la-arrow-left
                .nav__itemsHolder
                    include jade/_mixin-navItem
                    +nav-item( '1.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '2.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '5.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                    +nav-item( '1.png', 'Название' )
                    +nav-item( '3.png', 'Название' )
                    +nav-item( '4.png', 'Название' )
                i.la.la-arrow-right
        .holder.wrapper
            include jade/_mixin-cell
            +cell(2, 'bg1', 'active-like')
            +cell(99999, 'logo', 'active-like')
            +cell(24, '1')
            +cell(56, '2')
            +cell(127, '3')
            +cell(6, '4')
            +cell(270, '5', 'active-like')
            +cell(694, '6')
            +cell(53, '7')
            +cell(538, '8')
            +cell(567, '9', 'active-like')
            +cell(56, '10')
            +cell(23, '11', 'active-like')
            +cell(58, '12')
            +cell(5, '13')
            +cell(1, '14')
            +cell(0, '15')
            +cell(9, '16')
            +cell(41, '17')
            +cell(47, '18', 'active-like')
            +cell(25, '19')
            +cell(73, '20')
            +cell(2, '21')
            +cell(6, '22')
            +cell(52, '23')
            +cell(86, '24', 'active-like')
            +cell(2, '25')
            +cell(73, '26')
            +cell(84, '27')
            +cell(674, '28', 'active-like')
            +cell(83, '29')
            +cell(94, '30')
            +cell(54, '31')
            +cell(7, '32')
            +cell(94, '33')
            +cell(13, '34')
            +cell(82, '35')
            +cell(94, '36')
            +cell(54, '37')
            +cell(73, '38')
            +cell(636, '39', 'active-like')
            +cell(103, '40')
        include jade/static/footer