doctype
html
    include jade/static/m-head
    +head( 'Orders' )
    body
        include jade/static/header
        include jade/static/m-pageCaption
        +page-caption( 'Заказы' )
        include jade/static/footer


