mixin offer-section ( size, name, img, exhib, rating, cost )
    a( href="one-article-page.html" ).l-content__cell.navigation__offerSection
        .relation( class="relation-min-#{ size } " )
            .relation__ratio.relation__ratio-1x1
            .relation__content.flex-center
                img.max-width-60.navigation__sectionImage( src="img/icons/#{ img + '.' + exhib }" )
        .navigation__sectionName
            .navigation__sectionNameText.txt-center #{ name }
        .navigation__offerRating.flex-center
            include ../common-stars/_mixin-offerRatingStars
            +article-rating( rating )
        .navigation__offerCost.flex-center
            h4 #{cost}