mixin article-comment ( rating, title, name, date, text )
    .l-article__oneComment.margin-bottom-40.flex-column
        .l-article__commentTopInfo.flex
            include ../common-stars/_mixin-commentRatingStars
            +comment-rating( rating )
            .article__commentTitle.margin-left-10 #{ title }
        .l-article__commentUserMeta.flex
            .article__commentUserName #{ name }
            .article__commentDate.margin-left-10 от #{ date }
        .l-article__commentText
            p.article__commentText #{ text }




