@back-body: rgba(255, 255, 255, 1); @back-body-size: 100% 100%; @back-body-attach: fixed; /*url('../img/bg6.jpg') center top no-repeat*/
@back-white: rgba(232, 230, 222, 0.95);
@back-calm-white: rgba(103, 103, 103, 0.9);
@back-white-opacity: rgba(250, 250, 250, 0.45);

@back-nav: rgba(232, 230, 222, 0.95);

@back-holder: transparent;
@back-cell: rgba(232, 230, 223, 0.5);

@height-header: 100px;
@back-header: rgb(35, 41, 48);/*#314257*/

@color-header-icons: rgba(232, 230, 222, 0.95);

@height-nav: 100px;


@red: #e62e04;