@import "smart-grid";
@import "_var";

.cell-offsets(@type){
  @{type}: @offset_one_side;

  .lg-block({
    @{type}: @offset_lg_one_side;
  });

  .sm-block({
    @{type}: @offset_sm_one_side;
  });

  .xxs-block({
    @{type}: @offset_xxs_one_side;
  });
}

.reset();
.wrapper { .wrapper(); }

/*.debug { .debug( rgba(0, 0, 0, .2), rgba(255, 255, 0, 0.6)) }*/

html { font-size: 14px; font-family: sans-serif; -webkit-text-size-adjust: 100%; .xs( font-size, 12px ) }
html, body { font-family: Montserrat, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, sans-serif; font-weight: 300; width: 100%; min-width: 320px; height: auto }
body { background: @back-body; background-size: @back-body-size; background-attachment: @back-body-attach; .tiny( overflow-x, hidden ); }

/*  COMMON  */

.icon { font-size: 1.5rem; }
.flex { display: flex }
.flex-center { display: flex; align-items: center; justify-content: center }
.items-center { display: flex; align-items: center }
.justify-center { display: flex; justify-content: center }
.justify-start { display: flex; justify-content: flex-start }
.justify-end { display: flex; justify-content: flex-end }
.items-start { display: flex; align-items: flex-start }
.column { display: flex; flex-direction: column }
.column-start-items { display: flex; flex-direction: column; align-items: flex-start }


/* HEADER */




.header {
  background-color: @back-header;
  width: 100%;
  height: auto;
}
.header__wrapper {
  min-height: @height-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .wrapper-full();


  .xs( padding-bottom, 2px );
  .xxs( min-height, 60px)
}


.header__logo {
  min-width: 100px;
  height: @height-header;
  display: flex;
  align-items: center;
  flex-grow: 3;
  > img { height: calc( @height-header - 20px );
    .xxs( height, 54px)
  }
  .xxs-block({ height: 56px })
}


.header__buttons {
  height: calc( @height-header - 20px );
  display: flex;
  flex-basis: 400px;
  flex-grow: 1;
  justify-content: space-between;

  .xxs( justify-content, flex-end )
}
.header__btn {
  background: transparent;
  text-decoration: none;
  font-weight: 100;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @color-header-icons;
  .col();
  .size(3.5);
  /*.size-tiny(1.5);*/


  &-small {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    text-decoration: none;
    font-weight: 100;
    color: @color-header-icons;
    .col();
    .size(1);
    .size-xxs(2);

    /*.xxs( justify-content, center )*/
  }
}

a[title="Orders"], a[title="Favorite"] { .xxs( display, none ) }

.header__btnName {
  text-align: center;
  font-size: .8rem;
  padding-left: 3px;

  &:first-letter { color: @red; font-size: 1.1rem; font-weight: 600 }

  .xs( display, none )
}

.header__personal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  .col();
  .size(3.5);
}

.header__avatar {
  max-width: 100%;
  min-height: 55%;
  height: 70%;

  .xs( display, none );

  > img { max-width: 100%; max-height: 100% }
}
.header__userName {
  text-align: center;
  .items-center;
  .justify-center;
  line-height: 85%;
  font-size: 1.1rem;
  font-weight: 500;
  height: auto;
  color: @red;

  .xs( height, 100% )
}


/*  CONTAINER  */


.container {
  width: 100%;
  height: auto;
  margin: 50px auto;

  .xs( margin-top, 3px );
}

.navigation {
  min-height: @height-nav;
  background: @back-nav;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__menu {
  flex-grow: 2;
  min-width: 200px;
  flex-basis: 100%;
  height: calc(@height-nav - 20px);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .xxs(justify-content, center);

  .la-arrow-left, .la-arrow-right  {
    color: @back-header;
    display: block;
    font-size: 1.8rem;
    height: 100%;
    width: auto;
    .items-center
  }
  .la-arrow-left { .justify-start; padding-right: .8rem } .la-arrow-right { .justify-end; padding-left: .8rem }
}

.nav__itemsHolder {
  .flex;
  .justify-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70px;
  min-width: 60px;

  /*img { margin: 0 0 auto 0 }*/
}

.nav__search {
  flex-grow: 2;
  min-width: 200px;
  flex-basis: 300px;
  height: calc( @height-nav - 20px );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > input {
    width: 80%;
    height: calc( @height-nav / 2 );
    padding: 0 20px
  }

  .sm ( justify-content, center );
}


.holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  background: @back-holder;
  padding-top: 10px;
  padding-bottom: 10px;

  .tiny( padding-top, 6px )
}

.cell {
  background-color: @back-cell;
  .col();
  .size(2.4);
  .size-lg(3);
  .size-md(3);
  .size-sm(4);
  .size-xs(6);
  .size-xxs(6);
  .size-tiny(12);
  .cell-offsets(margin);
}

.cell__rating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  color: @back-white - 150;
  .items-start
}
.icon-like {
  font-size: 1.4rem;
}
.active-like { color: @red }
.cell__likeCount {
  margin-left: 15px;
  font-weight: 600;
}











.relation { position: relative; }

.relation__ratio {
  height: 0;
  &-1x1 { padding-top: 100%}
  &-2x1 { padding-top: 50%} /* Разделить на первое, умножить на второе*/
  &-4x3 { padding-top: 75%;} /* Если первое больше второго, то будет горизонтальный прямоугольник */
  &-3x4 { padding-top: 133.33%;}
  &-5x4 { padding-top: 80%;}
  &-6x5 { padding-top: 83.33%;}
  &-8x7 { padding-top: 87.5%;}
  &-7x8 { padding-top: 114%;}
  &-8x9 { padding-top: 112.5%;}
  &-9x10 { padding-top: 111.11%;}
  &-10x11 { padding-top: 110%;}
  &-11x12 { padding-top: 109.09%;}
  &-16x9 { padding-top: 56.25%;}
}

.relation__content {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 90%;
    max-height: 90%;
    border-radius: 2px;
  }
}

@import "media";

@import "fonts";