doctype
html
    include ../static/_mixin-head
    link( rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" )
    +head('Cart')
    body
        include ../template/navigation/navigation
        include ../template/header/header
        include ../template/shopping-cart/cart
        include ../template/item-page/item-offer
        script( src="js/headhesive.min.js" )
        script( src="js/root.init.js" )