doctype
html
    include ../static/_mixin-head
    +head('Main page')
    body
        include ../template/header
        include ../template/navigation-main
        include ../template/content-tile
        script( src="js/headhesive.min.js" )
        script( src="js/root.init.js" )
