doctype
html
    include ../static/_mixin-head
    +head('One stuff page')
    body
        include ../template/navigation/navigation
        include ../template/header/header
        include ../template/item-page/one-item-page
        include ../template/item-page/item-offer
        include ../template/item-page/item-characteristics
        include ../template/item-page/item-rating
        include ../template/item-page/item-comments
        script( src="js/headhesive.min.js" )
        script( src="js/root.init.js" )