doctype
html
    include ../static/_mixin-head
    +head('One stuff page')
    body
        include ../template/navigation
        include ../template/header
        include ../template/one-article-page
        include ../template/article-offer
        include ../template/article-characteristics
        include ../template/article-rating
        include ../template/article-comments