doctype
html
    include ../static/head
    body
        include ../template/navigation
        include ../template/header
        include ../template/one-article-page
        include ../template/article-offer
        include ../template/article-characteristics