doctype
html
    include ../static/_mixin-head
    +head('Seller\'s page')
    body
        include ../template/navigation
        include ../template/header-special
        include ../template/seller-info
        include ../template/content-tile
        script( src="js/headhesive.min.js" )
        script( src="js/root.init.js" )

