mixin section ( name, img )
    a( href="index.html" ).navigation__section.margin-7
        .relation.relation-min-70
            .relation__ratio.relation__ratio-1x1
            .relation__content.flex-center
                    img.navigation__sectionImage( src="img/icons/#{ img }" )
        .navigation__sectionName
            .navigation__sectionNameText.txt-center #{ name }

