mixin cell-for-more ( size, img, exhib, amount, price )
    .l-content__cell.content__cell-sm.relative
        i.content__mediaPrice #{ price }
        div( class= "relation relation-min-#{ size }" )
            .relation__ratio.relation__ratio-11x12
            .relation__content.flex-center
                a( href="one-article.html" ).content__cellLink.flex-center
                    img.content__cellImage( src="img/sections/#{ img + '.' + exhib }" )
                    .cell__moreHolder.items-start
                        i.icon-20.lnr.lnr-heart.margin-right-5
                        span.font-1 #{ amount }