.container.margin-bottom-100
    .wrapper
        h2.cart__blockTitle Корзина
    .l-cart__holder.wrapper-small
        .l-cart__tableCaptions.justify-between
            .cart__checkbox-main.items-center
                input( type="checkbox" checked="checked" ).icon-20
            .h3.cart__caption Выбрать все товары (10)
        include ../../mixins/one-item/_mixin-cartOneItem
        +cart-one-item(  '110', 'hamster', 'png', 'Mama, I\'ma HackerMan', 'есть', '104', '2' )
        +cart-one-item(  '110', 'hamster', 'png', 'Mama, I\'ma HackerMan. Gangsta life and vse dela', '', '264', '3')
        +cart-one-item(  '110', 'stitch', 'png', 'Cute!', 'есть', '16804', '8', '' )
        +cart-one-item(  '110', 'hamster', 'png', 'Mama, I\'ma HackerMan hfhfhfhfsjsakkaka', 'есть', '25104', '2' )
        +cart-one-item(  '110', 'stitch1', 'png', 'Ovchyan, Morchan or Movchan?', 'есть', '16804', '38' )
        +cart-one-item(  '110', 'hamster', 'png', 'Mama, I\'ma HackerMan hrenogubka skvonchizon ozon shmazon ', 'есть', '73', '5' )
        +cart-one-item(  '110', 'kry', 'png', 'Kryt!', 'есть', '16804', '1' )
        +cart-one-item(  '110', 'stitch4', 'png', 'Super Cute!', 'есть', '16804', '5' )
        +cart-one-item(  '110', 'stitch', 'png', 'Cute!', '', '5782', '3' )
        +cart-one-item(  '110', 'sticker', 'png', 'Keep calm, It\'s not my job', 'есть', '104', '1' )
        .l-cart__totalHolder.flex-column
            .h4.cart__totalSum.items-center
                span Общая стоимость корзины
                span.font-1-6.color-blue Большая
            a.article__button.cart__totalBtn КУПИТЬ (10)

