doctype
html
    head
        meta( name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0" )
        meta( http-equiv="X-UA-Compatible", content="IE=edge" )
        meta( name="MobileOptimized", content="width" )
        meta( name="HandheldFriendly", content="True" )
        meta( charset="UTF-8")
        title Тестовая страница
        link( href="css/style.min.css", type="text/css", rel="stylesheet" )
        link( href="img/favicon.png" rel="shortcut icon" type="image/x-icon" )
    body
        .header
            .wrapper.header__wrapper
                .header__logo
                    img( src="img/logo.jpg" )
                .header__search
                    input( type='search' )
                .header__buttons
                    .header__btn
                        i Иконка
                    .header__btn
                        i Иконка
                    .header__btn
                        i Иконка
                    .header__btn.header__personal
                        span.header__name Привет,&nbsp;&nbsp;
                        i Алан
        .container
            .holder.wrapper
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content
                .cell.relation
                    .relation__ratio.relation__ratio-7x8
                    .relation__content

    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div