.container
    .wrapper.flex
        .sellerPage__info
            .sellerPage__avatar
                h2.sellerPage__seller.sellerPage__seller-name Дед Афанасий
                .relation.relation-min-200
                    .relation__ratio.relation__ratio-7x8
                    .relation__content.flex-center
                        img.content__cellImage( src="img/sections/morning.png" )
            .sellerPage__sellerInfoHolder.wrap
                .sellerPage__sellerInfo-sm
                    h4 Общая информация
                    .sellerPage__rating.sellerPage__rating-marks Количество товаров: 10050
                    .sellerPage__rating.sellerPage__rating-rating Продано: Ещё больше
                    .sellerPage__rating.sellerPage__rating-rating Рейтинг продавца: 99%
                .sellerPage__sellerInfo-bg
                    h4 Категории работ
                    .sellerPage__categories
                        .sellerPage__category Хомяк
                        .sellerPage__category Голубь
                        .sellerPage__category Ленивец
                        .sellerPage__category Милаш, каких поискать
                        .sellerPage__category Очень прикольные
                        .sellerPage__category Очень забавные
                        .sellerPage__category Сделанные ручками)



            //    .sellerPage__seller.sellerPage__seller-rating.flex
            //        .sellerPage__seller.sellerPage__seller-rating.flex-column
            //            .sellerPage__rating-marks Количество товаров: 100500
            //            .sellerPage__rating-rating Продано: Ещё больше
            //        .sellerPage__seller.sellerPage__seller-rating.flex-column
            //            .sellerPage__rating-marks Оценок: 100500
            //            .sellerPage__rating-rating Рейтинг продавца: 99%
            //    .sellerPage__seller.sellerPage__seller-contacts fakemailno1@mail.ru
        //.sellerPage__banner Тут должен быть банер, кароч



