.container
    .wrapper
        .l-article__comments
            h3.article__infoBlocksCaption.margin-left-50 Комментарии покупателей
            .l-article__commentsInfo
                include ../mixins/_mixin-articleComment
                +article-comment( '5', 'Крутотенюшка', 'Эльф торговец', '27.02.2017', 'У меня очень важное мнение, прям всем важно моё мнение' )
                +article-comment( '2', 'Я ничего не понял', 'User Name', '27.02.2015', 'А сегодня в завтрашний день не все могут смотреть. Вернее смотреть могут не только лишь все, мало кто может это делать' )
