.container
    .wrapper
        .l-article__char
            h3.article__infoBlocksCaption.margin-left-50 Информация о товаре
            .l-article__charInfo
                include ../mixins/_mixin-articleChar
                +article-char( 'Огнеупорность', ' невероятная' )
                +article-char( 'Милота', ' космическая' )
                +article-char( 'Прозрачность фона', ' максимальная' )
                +article-char( 'Вес', ' явно выше среднего' )



