.container
    .wrapper
        .l-article__offer
            h3.article__infoBlocksCaption.margin-left-50 C этим товаром так же покупают
            .navigation__slider.justify-between.items-center
                i.s7-angle-left.font-4.icon-40
                .l-navigation__sliderWrapper.items-center.justify-between
                    include ../mixins/_mixin-articleOffer
                    +offer-section( '120', 'Книжки', 'books', 'svg', '3', '261 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '5', '61 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '5', '61 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '5', '61 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '5', '61 руб' )
                    +offer-section( '120', 'Часы', 'clock', 'svg', '1', '921 руб' )
                i.s7-angle-right.font-4.icon-40
