.container
    .wrapper
        h2.cart__blockTitle Карзина
        .l-cart__holder
            .l-cart__tableCaptions.flex
                .cart__noTitle
                .cart__priceTitle Цена
                .cart__amountTitle Количество

