.container.margin-bottom-100
    .wrapper
        h2.cart__blockTitle.margin-bottom-50 Корзина
    include ../mixins/_mixin-cartOneItem
    +cart-one-item( 'Дед Афанасий', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan', 'есть', '104', '2', '' )
    +cart-one-item( 'Дед Афанасий', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan. Gangsta life and vse dela', '', '264', '3', 'disabled-cart' )
    +cart-one-item( 'Дед Афанасий, идущий к другу Васе', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan', 'есть', '25104', '2', '' )
    +cart-one-item( 'Дед Афанасий', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan', 'есть', '73', '5','' )

