.container
    .wrapper.flex-center
        .l-content__holder.justify-center.wrap
            include ../mixins/_mixin-Cell
            include ../mixins/_mixin-doubleCell
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '5', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +double-cell('Название', 'от скуки', 'sticker1', 'png', '2', 'png', 'sticker', 'png', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'kry', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '7', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +double-cell('Название', 'от твоей мамки', 'sticker1', 'png', '5', 'png', 'sticker', 'png', '3', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '3', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker', 'png' )
            +double-cell('Название', 'от добра', '1', 'png', 'sticker1', 'png', 'sticker', 'png', 'kry', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '6', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'kry', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '5', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '3', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker', 'png' )
            +double-cell('Название', 'и от бобра', '1', 'png', 'sticker1', 'png', 'sticker', 'png', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'kry', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png' )
            +cell( '250', '4', 'png' )
            +cell( '250', 'kry', 'png' )


