.container
    .wrapper.flex-center
        .l-content__holder.justify-center.wrap
            include ../mixins/_mixin-Cell
            include ../mixins/_mixin-doubleCell
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +double-cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +double-cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +double-cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +double-cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +double-cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )
            +cell( 'sticker' )

