.container
    .wrapper.flex-center
        .l-content__holder.justify-center.wrap
            include ../mixins/_mixin-Cell
            include ../mixins/_mixin-doubleCell
            +cell( '250', 'sticker1', 'png', '50p' )
            +cell( '250', 'sticker1', 'png', '50p' )
            +cell( '250', 'sticker1', 'png', '55p' )
            +cell( '250', '5', 'png', '55p', 'like__icon-active' )
            +cell( '250', 'sticker1', 'png', '55p' )
            +cell( '250', 'sticker1', 'png', '36p' )
            +cell( '250', 'sticker1', 'png', '36p' )
            +double-cell('Название', 'от скуки', 'sticker1', 'png', '2', 'png', 'sticker', 'png', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png', '39p' )
            +cell( '250', 'sticker1', 'png', '39p' )
            +cell( '250', 'kry', 'png', '156p' )
            +cell( '250', 'sticker1', 'png', '156p' )
            +cell( '250', 'sticker1', 'png', '156p' )
            +cell( '250', '7', 'png', '1564p', 'like__icon-active' )
            +cell( '250', 'sticker1', 'png', '1564p' )
            +double-cell('Название', 'от твоей мамки', 'sticker1', 'png', '5', 'png', 'sticker', 'png', '3', 'png' )
            +cell( '250', 'sticker1', 'png', '27p' )
            +cell( '250', 'sticker', 'png', '27p' )
            +cell( '250', 'sticker1', 'png', '399p' )
            +cell( '250', '3', 'png', '399p' )
            +cell( '250', 'sticker1', 'png', '399p', 'like__icon-active' )
            +cell( '250', 'sticker1', 'png', '287p' )
            +cell( '250', 'sticker', 'png', '287p' )
            +double-cell('Название', 'от добра', '1', 'png', 'sticker1', 'png', 'sticker', 'png', 'kry', 'png' )
            +cell( '250', 'sticker1', 'png', '248p' )
            +cell( '250', 'sticker1', 'png', '248p' )
            +cell( '250', 'sticker1', 'png', '93p' )
            +cell( '250', '6', 'png', '93p' )
            +cell( '250', 'sticker1', 'png', '306p' )
            +cell( '250', 'sticker1', 'png', '306p' )
            +cell( '250', 'sticker1', 'png', '306p' )
            +cell( '250', 'kry', 'png', '397p' )
            +cell( '250', 'sticker1', 'png', '397p' )
            +cell( '250', 'sticker1', 'png', '923p' )
            +cell( '250', '5', 'png', '923p' )
            +cell( '250', 'sticker1', 'png', '923p' )
            +cell( '250', '3', 'png', '1768p' )
            +cell( '250', 'sticker1', 'png', '1768p', 'like__icon-active' )
            +cell( '250', 'sticker1', 'png', '493p' )
            +cell( '250', 'sticker', 'png', '493p' )
            +double-cell('Название', 'и от бобра', '1', 'png', 'sticker1', 'png', 'sticker', 'png', 'sticker1', 'png' )
            +cell( '250', 'sticker1', 'png', '4825p' )
            +cell( '250', 'sticker1', 'png', '4825p' )
            +cell( '250', 'kry', 'png', '4438p' )
            +cell( '250', 'sticker1', 'png', '4438p' )
            +cell( '250', 'sticker1', 'png', '167p' )
            +cell( '250', 'sticker1', 'png', '167p' )
            +cell( '250', '1', 'png', '924p' )
            +cell( '250', 'sticker1', 'png', '924p' )
            +cell( '250', 'sticker1', 'png', '924p' )
            +cell( '250', '4', 'png', '2p' )
            +cell( '250', 'kry', 'png', '50p' )


