.container.header.flex-center
    .wrapper.flex.l-header__wrapper.justify-between
        a( href="index.html" ).l-header__logo.flex-center.flex-column
            .l-header__logoHolder.relation.relation-min-110
                .relation__ratio.relation__ratio-2x1
                .relation__content.flex-center
                    img.header__logoImage( src="img/logo.jpg" alt="Logo" )
        .l-header__holder.items-center.justify-end
            .l-header__search.items-center.justify-end
                label.header__searchLabel.flex
                    input.header__searchInput( type="search" placeholder="Поиск")
                    button.search__iconHolder.flex-center( type="submit" )
                        i.icon-lg.s7-search.font-1-6
            .l-header__userHolder.justify-end
                .header__userCart.justify-end.items-center
                    a( title="Корзина")
                        i.icon-lg.s7-cart.font-1-6
                .header__infoOrders.justify-end.items-center
                    a( title="Заказы")
                        i.icon-lg.s7-shopbag.font-1-6
                .l-header__userInfo.flex-column.items-end
                    img.header__userAva( src="img/ava.png" alt="Ava" )
                    span.header__userName Гарольд
                    




