.header.container.flex
    .width-10.header__logo
        .header__logoHolder.relation.relation-min-50
            .relation__ratio.relation__ratio-1x1
            .relation__content.flex-center
                img.max-width-80.margin-center( src="img/sections/sticker.png" )
    .width-85.heder__holder
        .heder__top
            .width-33.header__search
                input( type="search")
            .width-65.header__userHolder
                .header__user
                .header__cart
        .header__bottom
            .width-65.flex.header__sections
                include ../mixins/_mixin-Section
                +section( 'игрушки', 'sticker.png' )
                +section( 'куклы', 'sticker.png' )
                +section( 'техника', 'sticker.png' )
            .width-33.header__infoHolder
                .header__orders
                .header__help


