.container.header.flex-center.margin-bottom-0
    .wrapper.flex.l-header__wrapper.justify-between
        a( href="index.html" ).l-header__logo.flex-center.flex-column
            .l-header__logoHolder.relation.relation-min-110
                .relation__ratio.relation__ratio-2x1
                .relation__content.flex-center
                    img.header__logoImage( src="img/logo.jpg" alt="Logo" )
        .l-header__holder.items-center.justify-end
            .l-header__search
                label.header__searchLabel.flex
                    input.header__searchInput( type="search" placeholder="Поиск")
                    button.search__iconHolder.flex-center( type="submit" )
                        i.icon-lg.s7-search.font-1-6
            .l-header__userHolder.justify-end
                a( href="cart.html", title="Корзина").header__controlBtn.header__userCart
                    i.icon-lg.s7-cart.font-1-6
                a( title="Избранное").header__controlBtn.header__userLikes
                    i.icon-lg.s7-like.font-1-6
                a( title="Заказы").header__controlBtn.header__infoOrders
                        i.icon-lg.s7-shopbag.font-1-6
                .l-header__userInfo.flex-column
                    img.header__userAva( src="img/ava.png" alt="Ava" )
                    span.header__userName Гарольд
                    




