.container.margin-bottom-5
    .wrapper.navigation__slider
        i.s7-angle-left.font-4.icon-40
        .l-navigation__sliderWrapper.items-center.justify-between
            include ../mixins/_mixin-Section
            +section( 'Книжки', 'books.svg' )
            +section( 'Камеры', 'cameras.svg' )
            +section( 'Милахи!', 'stitch4.png' )
            +section( 'Маагияя', 'magic.svg' )
            +section( 'Игрушки', 'puppet.svg' )
            +section( 'Часы', 'clock.svg' )
            +section( 'Пивасик', 'beer.svg' )
            +section( 'Лапули :D', 'stitch.png' )
            +section( 'Печеньки', 'cookies.png' )
            +section( 'Шляпы', 'hats.svg' )
            +section( 'Пироги', 'cake.svg' )
            +section( 'Hackerman', 'hamster.png' )
            +section( 'Маагияя', 'magic.svg' )
            +section( 'Картины', 'painting.svg' )
            +section( 'Игрушки', 'toys.svg' )
            +section( 'Телефоны', 'phones.svg' )
            +section( 'Пластинки', 'record.svg' )
        i.s7-angle-right.font-4.margin-left-15.icon-40