.container
    h2.header__sliderCaption.flex-center.text-center Очень крутая надпись
    .wrapper.header__sliderWrpper.flex-center
        .header__sliderWrpper-before.s7-angle-left.font-4
        .header__sliderWrpper-after.s7-angle-right.font-4
        .l-header__sectionBlock.justify-between
            .l-header__sections.flex
                include ../mixins/_mixin-Section
                +section( 'Книжки', 'books.png' )
                +section( 'Камеры', 'cameras.png' )
                +section( 'Игрушки', 'toys1.png' )
                +section( 'Часы', 'clocks.png' )
                +section( 'Пивасик', 'beeeeeer.png' )
                +section( 'Печеньки', 'cockies.png' )
                +section( 'Очки', 'glasses.png' )
                +section( 'Шляпы', 'hats.png' )
                +section( 'Маагияя', 'magic.png' )
                +section( 'Усы', 'moustache.png' )
                +section( 'Картины', 'painting.png' )
                +section( 'Игрушки', 'toys.png' )
                +section( 'Телефоны', 'phones.png' )
                +section( 'Принтеры', 'printers.png' )
                +section( 'Пластинки', 'record.png' )