.container
    h2.navigation__sliderCaption.flex-center.text-center Очень крутая надпись
    .wrapper.navigation__slider.flex-center
        i.s7-angle-left.font-4.icon-40
        .l-navigation__sliderWrapper.items-center.justify-between
            include ../mixins/_mixin-Section
            +section( 'Книжки', 'books.svg' )
            +section( 'Камеры', 'cameras.svg' )
            +section( 'Камеры', 'cameras.svg' )
            +section( 'Камеры', 'cameras.svg' )
            +section( 'Игрушки', 'puppet.svg' )
            +section( 'Часы', 'clock.svg' )
            +section( 'Пивасик', 'beer.svg' )
            +section( 'Печеньки', 'cookies.png' )
            +section( 'Печеньки', 'cookies.png' )
            +section( 'Шляпы', 'hats.svg' )
            +section( 'Пироги', 'cake.svg' )
            +section( 'Маагияя', 'magic.svg' )
            +section( 'Маагияя', 'magic.svg' )
            +section( 'Картины', 'painting.svg' )
            +section( 'Игрушки', 'toys.svg' )
            +section( 'Телефоны', 'phones.svg' )
            +section( 'Пластинки', 'record.svg' )
        i.s7-angle-right.font-4.icon-40