.container
    .wrapper-small.flex-column.relative.border-1.radius-3
        a.icon-free.s7-close.font-1-5.close__icon
        main.l-article__infoHolder.justify-center
            .l-article__infoImage
                include ../mixins/_mixin-articleImage
                +article-image( '200', 'hamster', 'png' )
            .l-article__infoMeta.flex-column
                .l-acticle__rating.justify-start
                    img( src="img/icons-common/like.svg" ).icon.article__iconLike
                    .icon.article__likesCount.flex-center 4
                .article__sectionName Ну фиг знает, что это
                h1.article__goodsName Может хомяк, а может и голубь
                .l-article__averageRating.items-center
                    include ../mixins/_mixin-ratingStars
                    +article-rating( '4' )
                h2.article__cost 100500 мемасиков
                .l-article__actionButtons.items-start.flex-column
                    .article__buttonDetails.items-center
                        a( href="one-article-page.html" ).article__button Подробнее
                    .l-article__toCart.flex.margin-top-5
                        a.article__button.article__buttonBuy.items-center
                            i.icon-fire.actionButtons__icon
                            span.buttonBuy__text Купить сейчас
                        .l-article__amount.flex-center
                            i.s7-angle-left.font-2.onHover-left-1
                            input( type="text", placeholder="2" ).amount__holder.flex-center.icon
                            i.s7-angle-right.font-2.onHover-right-1
        .container.flex-wrap.justify-center.border-top2
                include ../mixins/_mixin-moreCell
                +cell-for-more( '200', '5', 'png', '3746', '34p' )
                +cell-for-more( '200', 'stitch1', 'png', '30', '34p' )
                +cell-for-more( '200', '1', 'png', '26', '34p' )
                +cell-for-more( '200', 'hamster', 'png', '91', '34p' )
                +cell-for-more( '200', 'kry', 'png', '31', '34p' )
                +cell-for-more( '200', 'sticker1', 'png', '51', '34p' )
                +cell-for-more( '200', 'morning', 'png', '103', '94p' )
                +cell-for-more( '200', 'stitch5', 'png', '27', '34p' )





