.container
    .wrapper
        main.l-article__infoHolder.justify-start
            .l-article__infoImage
                include ../mixins/_mixin-articleImage
                +article-image( '270', 'hamster', 'png' )
                .article__aboutSeller.flex Продавец:
                    a( href="seller-page.html" ).article__button.article__buttonSeller.margin-left-10 Дед Афанасий
            .l-article__infoMeta.flex-column
                .article__sectionName
                    .article__sectionTag Хомяк
                    .article__sectionTag Голубь
                    .article__sectionTag Ленивец
                    .article__sectionTag Милаш, каких поискать
                h1.article__goodsName Может хомяк, а может и голубь
                .l-article__averageRating.items-center
                    include ../mixins/_mixin-ratingStars
                    +article-rating( '4' )
                .l-article__actionButtons.items-center.flex-wrap
                    h2.article__cost 100500 мемасиков
                .l-article__actionButtons.items-start.flex-column
                    .l-article__amount-margin.flex-center
                        button.buttonControl__less.font-1-4
                            span -
                        input( type="text", placeholder="2" ).amount__holder.flex-center
                        button.buttonControl__more.font-1-4
                            span +
                    .l-article__toCart.flex.margin-top-5
                        a( href="cart.html" ).article__button.article__buttonToCart.items-center.margin-right-5
                            i.s7-cart.actionButtons__icon
                            span.buttonToCart__text Добавить в корзину
                        a.article__button.article__buttonBuy.items-center
                            i.icon-fire.actionButtons__icon
                            span.buttonBuy__text Купить сейчас
                .article__about
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa debitis, ducimus eligendi enim eos expedita fugiat iure magnam minima provident quae repellat reprehenderit repudiandae similique unde ut voluptate? Magni nemo officiis voluptatum. Animi at consequatur delectus deleniti dolorem dolores excepturi fugit illum impedit, ipsum itaque iure iusto maxime minus mollitia nam necessitatibus nemo nisi nobis praesentium quasi qui quis ratione, repudiandae tenetur velit voluptate? Enim, expedita, illo!


