.container
    .wrapper-small.flex-column.relative.border-1.radius-3
        a.icon-free.s7-close.font-1-5.close__icon
        main.l-article__infoHolder.justify-center
            .l-article__infoImage
                include ../mixins/_mixin-articleImage
                +article-image( '200', 'hamster', 'png' )
            .l-article__infoMeta.flex-column
                .l-acticle__rating.justify-start
                    i.lnr.lnr-heart.font-3.icon.like__icon-active
                    .icon.article__likesCount.flex-center 4
                .article__sectionName Ну фиг знает, что это
                h1.article__goodsName Может хомяк, а может и голубь
                .l-article__averageRating.items-center
                    include ../mixins/_mixin-ratingStars
                    +article-rating( '4' )
                h2.article__cost 100500 мемасиков
                .l-article__actionButtons
                    .article__actionButton.article__buttonDetails.items-center
                        a( href="one-article-page.html" ).article__button.article__buttonMoreInfo Подробнее
                    .article__actionButton.l-article__amount-margin.flex-center
                        button.buttonControl__less.font-1-7
                            span -
                        input( type="text", placeholder="2" ).amount__holder.flex-center
                        button.buttonControl__more.font-1-7
                            span +
                    .article__actionButton.l-article__toCart.flex
                        a( href="cart.html" ).article__button.article__buttonToCart.items-center.margin-right-5
                            i.s7-cart.actionButtons__icon
                            span.buttonToCart__text Добавить в корзину
                        a.article__button.article__buttonBuy.items-center
                            i.icon-fire.actionButtons__icon
                            span.buttonBuy__text Купить сейчас
        .container.flex-wrap.justify-center.border-top1.padding-top-30
                include ../mixins/_mixin-moreCell
                +cell-for-more( '230', '5', 'png', '3746', '34p' )
                +cell-for-more( '230', 'stitch1', 'png', '30', '34p' )
                +cell-for-more( '230', '1', 'png', '26', '34p' )
                +cell-for-more( '230', 'hamster', 'png', '91', '34p' )
                +cell-for-more( '230', 'kry', 'png', '31', '34p' )
                +cell-for-more( '230', 'sticker1', 'png', '51', '34p' )
                +cell-for-more( '230', 'morning', 'png', '103', '94p' )
                +cell-for-more( '230', 'stitch5', 'png', '27', '34p' )





