.container
    .wrapper.flex
        .sellerPage__info.flex
            .sellerPage__avatar
                .relation.relation-min-200-special-xs.relation-min-150
                    .relation__ratio.relation__ratio-7x8
                    .relation__content.flex-center
                        img.content__cellImage( src="img/sections/morning.png" )
            //.sellerPage__sellerInfo
            //    h2.sellerPage__seller.sellerPage__seller-name Дед Афанасий
            //    .sellerPage__seller.sellerPage__seller-rating.flex
            //        .sellerPage__seller.sellerPage__seller-rating.flex-column
            //            .sellerPage__rating-marks Количество товаров: 100500
            //            .sellerPage__rating-rating Продано: Ещё больше
            //        .sellerPage__seller.sellerPage__seller-rating.flex-column
            //            .sellerPage__rating-marks Оценок: 100500
            //            .sellerPage__rating-rating Рейтинг продавца: 99%
            //    .sellerPage__seller.sellerPage__seller-contacts fakemailno1@mail.ru
        .sellerPage__banner Тут должен быть банер, кароч



