.container
    .wrapper
        h2.orders__blockTitle Ваши Заказы
    .l-cart__holder.wrapper-small
        include ../../mixins/one-item/_mixin-ordersOneItem
        +order-one-item(  '2658', '28.02.2016', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan', '26', '104', 'Ожидается оплата' )
        +order-one-item(  '2658', '28.02.2016', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan. Gangsta life and vse dela', '265', '264', 'Ожидается оплата')
        +order-one-item(  '2658', '28.02.2016', '110', 'stitch', 'png', 'Cute!', '287', '16804', 'Ожидвется отправка' )
        +order-one-item(  '2658', '28.02.2016', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan hfhfhfhfsjsakkaka', '472', '25104', 'Ожидается отправка' )
        +order-one-item(  '2658', '28.02.2016', '110', 'stitch1', 'png', 'Ovchyan, Morchan or Movchan?', '38', '1', 'Заказ отправлен' )
        +order-one-item(  '2658', '28.02.2016', '110', 'hamster', 'png', 'Mama, I\'ma HackerMan hrenogubka skvonchizon ozon shmazon ', '17', '73', 'Ожидается отправка' )
        +order-one-item(  '2658', '28.02.2016', '110', 'kry', 'png', 'Kryt!', '286', '4', 'Заказ отправлен' )
        +order-one-item(  '2658', '28.02.2016', '110', 'stitch4', 'png', 'Super Cute!', '268', '12', 'Заказ подтверждён' )
        +order-one-item(  '2658', '28.02.2016', '110', 'stitch', 'png', 'Cute!', '271', '3', 'Заказ подтверждён' )
        +order-one-item(  '2658', '28.02.2016', '110', 'sticker', 'png', 'Keep calm, It\'s not my job', '116', '1', 'Заказ завершён', '10.03.2017' )

