mixin article-char ( key, value )
    .l-article__oneChar.items-center.margin-bottom-5.justify-between
        .article__oneKey.margin-right-10.font-1-1 #{ key }:
        .article__oneValue #{ value }

