mixin cell-for-more ( size, img, exhib, amount )
    .l-content__cell
        div( class= "relation relation-min-#{ size }" )
            .relation__ratio.relation__ratio-11x12
            .relation__content.flex-center
                a( href="one-article.html" ).content__cellLink.flex-center
                    img.content__cellImage( src="img/sections/#{ img + '.' + exhib }" )
                    .cell__moreHolder.items-start
                        i.icon-20.like__icon.margin-right-5
                        span.font-0-8 #{ amount }