mixin cell ( size, img, exhib, price, active )
    .l-content__cell.content__cell-bg.relative
        i.lnr.lnr-heart.cell__icon.icon-20( class="#{ active }" )
        i.content__mediaPrice #{ price }
        div( class= "relation relation-min-#{ size }" )
            .relation__ratio.relation__ratio-11x12
            .relation__content.flex-center
                a( href="one-article.html" ).content__cellLink.flex-center
                    img.content__cellImage( src="img/sections/#{ img + '.' + exhib }" )
