mixin article-rating ( rating )
    case ( rating )
        when '0'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
        when '1'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
        when '2'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
        when '3'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
        when '4'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar-offer.icon-20
        when '5'
            .l-article__starsHolder.justify-between
                .article__star.margin-left-2
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar-offer.icon-20