mixin article-rating ( rating )
    case ( rating )
        when '0'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 0
        when '1'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 1
        when '2'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 2
        when '3'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 3
        when '4'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 4
        when '5'
            .l-article__starsHolder.justify-between
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
                .article__star
                    img( src="img/icons-common/star-active.svg" ).rating__oneStar.icon-20
            .icon.article__likesCount.flex-center 5