mixin section ( name, img )
    li.header__section
        .relation.relation-min-70
            .relation__ratio.relation__ratio-1x1
            .relation__content.flex-center
                    img.max-width-80.header__sectionImage( src="img/icons/#{ img }" )
        .header__sectionName
            .header__sectionNameText.txt-center #{ name }

