mixin cell ( size, img, exhib, active )
    .l-content__cell.relative
        i.like__icon.cell__icon.icon-20( class="#{ active }" )
        div( class= "relation relation-min-#{ size }" )
            .relation__ratio.relation__ratio-11x12
            .relation__content.flex-center
                a( href="one-article.html" ).content__cellLink.flex-center
                    img.content__cellImage( src="img/sections/#{ img + '.' + exhib }" )
