mixin cell ( img )
    .l-content__cell
        .relation.relation-min-250
            .relation__ratio.relation__ratio-8x7
            .relation__content.flex-center
                img.max-width-80.header__sectionImage( src="img/#{ img }" )
                i.icon.s7-star.font-1-3.cell__icon