mixin section ( name, img )
    .width-15.margin-3.relation.relation-min-70.section
        .relation__ratio.relation__ratio-1x1
        .relation__content
            .section__name
                span #{ name }
            .wrapper
                img.max-width-80.section__image( src="img/sections/#{ img }" )

