.container
    .wrapper
        .l-article__offer
            h3.article__infoBlocksCaption C этим товаром так же покупают
            .navigation__slider.justify-between.items-center
                i.lnr.lnr-chevron-left.font-2.icon
                .l-navigation__sliderWrapper.items-center.justify-around
                    include ../../mixins/item/_mixin-itemOffer
                    +offer-section( '120', 'Книжки', 'books', 'svg', '3', '261 руб' )
                    +offer-section( '120', 'Камеры', 'cameras', 'svg', '4', '26 руб' )
                    +offer-section( '120', 'Милахи', 'stitch4', 'png', '5', '6261 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '3', '61 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '4', '61 руб' )
                    +offer-section( '120', 'Игрушки', 'puppet', 'svg', '5', '61 руб' )
                    +offer-section( '120', 'Часы', 'clock', 'svg', '1', '921 руб' )
                i.lnr.lnr-chevron-right.font-2.margin-left-15.icon
